input[type="password"],
input[type="text"],
input[type="file"],
input[type="number"],
input[type="email"],
select {
  display: block;
  width: 100%;
  color: var(--text-color);
  padding: 12px 20px;
  background-color: var(--input-bg);
  border: 1px solid var(--input-border);
  border-radius: 7px;
  transition: border 0.4s ease-in-out;
  outline: none !important;
  box-shadow: none !important;
  &::placeholder {
    letter-spacing: 0px;
    color: var(--placeholder-color);
  }
  &:focus,
  &:focus-visible {
    border-color: var(--main-color);
  }
}

input[type="file"] {
  color: var(--placeholder-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--input-bg) inset !important;
  -webkit-text-fill-color: var(--text-color);
}
