@mixin customer($circle, $headSize, $paragraphSize) {
  $imageSize: $circle;

  a {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: #000;
    &.active {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 110%;
        height: 100%;
        z-index: -1;
        border-radius: 10px 0 0 10px;
        background-color: var(--main-color);
      }
    }
  }

  &__image {
    width: $imageSize;
    height: $imageSize;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__info {
    width: calc(100% - ($imageSize + 10px));

    * {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    h6 {
      font-size: $headSize;
    }
    p {
      font-size: $paragraphSize;
    }
  }
}

.cutomersView {
  display: flex;
  width: 100%;
  margin-left: var(--aside-width);

  .aside {
    position: fixed;
    width: var(--customer-aside-width);
    height: 100%;
    $sort-width: 35px;
    z-index: 999;
    &:hover {
      .aside__sort {
        right: calc($sort-width * -1);
      }
    }
    &__sort {
      position: absolute;
      width: $sort-width;
      height: 100%;
      background-color: white;
      right: 0;
      overflow-y: scroll;
      transition: 0.4s;
      z-index: 8;
      ul {
        li button {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 30px;
          width: 100%;
          transition: 0.4s;
          &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
          }
        }
      }
    }
    &__content {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background-color: grey;
      z-index: 9;
      padding: 20px 10px;
    }
    &__head {
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid var(--bg);
      display: flex;
      flex-direction: column;
      gap: 10px;
      &__up {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        form {
          .form-group {
            position: relative;
            i {
              position: absolute;
              left: 12px;
              top: 50%;
              transform: translateY(-50%);
              color: var(--placeholder-color);
              font-size: var(--smaller-font-size);
            }
            input {
              border-radius: 20px;
              padding-left: 35px;
              font-size: var(--smaller-font-size);
            }
          }
        }
      }
      &__down {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .btn {
          &.addNew {
            padding: 5px 10px;
            font-size: 12px;
          }
        }
      }
    }

    &__body {
      .customersList {
        display: flex;
        flex-direction: column;
        .customer {
          // @include customer($circle: 50px);
          @include customer(
            $circle: 50px,
            $headSize: var(--normal-font-size),
            $paragraphSize: var(--smaller-font-size)
          );
        }
      }
    }
  }
  .dashboard__content {
    width: calc(100% - (var(--aside-width) + var(--customer-aside-width)));
    margin-left: calc(var(--customer-aside-width));
  }
}

// Customer Details
.customerDetails {
  &__head {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    @include customer($circle: 100px, $headSize: 20px, $paragraphSize: 18px);
  }
}

.addCustomer {
  h2 {
    color: var(--text-color);
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    > * {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    button {
      padding: 10px 10px;
    }
  }
}
